.gallery-content {
    width: 100%;
    height: 100vh;

    .video-container {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        .video {
            max-width: 100%;
        }
        .gallery-title {
            width: 250px;
            position: absolute;
            background-color: black;
            text-align: center;
    padding: 10px;            
        }
    }
    .images {
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .image-container {
            padding: 10px;

            .bottom-images {
                width: 100%;
                height: 500px;
                margin: 20px;
                object-fit: cover;
            }
        }
    }
}

@media (min-width: 800px) {
    .gallery-content {
        .video {
            width: 100%;
        }
        .images {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .image-container {
                &:hover {
                    opacity: 0.5;
                    transition: 0.5s;
                }
                .bottom-images {
                    width: 300px;
                    height: 500px;
                    margin: 20px;
                    object-fit: cover;
                }
            }
        }
    }
}
