@import url("https://fonts.googleapis.com/css2?family=Crimson Text:wght@400;500;600&family=Open+Sans:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap");
body {
  background-color: black;
  margin: 0px;
  color: white;
  padding-top: 80px;
  font-family: "open sans", sans-serif;
}

body .header .nav {
  width: 100%;
  height: 80px;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
}

body .header .nav .hamburger-container {
  width: 50%;
}

body .header .nav .hamburger-container .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header .nav .hamburger-container .hamburger .icon {
  margin-left: 60px;
  width: 15px;
  height: 1px;
  margin-bottom: 5px;
  background-color: black;
}

body .header .nav .logo-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .header .nav .logo-container .logo {
  font-weight: bold;
  font-size: 2.5rem;
  color: black;
  right: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-family: "open sans", sans-serif;
}

body .header .nav .elements-container {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35%;
  height: 240px;
  position: fixed;
  width: 100%;
  font-family: "open sans", sans-serif;
  letter-spacing: 1px;
  display: none;
}

body .header .nav .elements-container.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .header .nav .elements-container .elements {
  margin-left: 40px;
  color: black;
  font-weight: 600;
  font-size: 0.6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px;
}

body .header .nav .elements-container .elements .line {
  width: 90%;
  height: 1px;
  background-color: #d6d6d6;
}

body .header .nav .elements-container .elements .element {
  margin-bottom: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
}

body .content .main-photo-container {
  margin-top: 0;
}

body .content .main-photo-container .main-photo {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: top;
  background-image: url("../images/mariana-fierita.JPG");
}

body .content .line-container {
  width: 100%;
  height: 150px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content .line-container .content-line {
  width: 90%;
  height: 1px;
  background-color: #d6d6d6;
}

body .content .name-container {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .content .name-container .name {
  font-weight: 600;
  color: #fafafa;
  font-size: 1.5rem;
  padding: 30px;
  padding-bottom: 0;
  margin: 0px;
  font-family: "Gayathri", sans-serif;
  text-shadow: 0px 0px 0px #969696;
}

body .content .name-container .name:first-child {
  color: #fafafa;
}

body .content .name-container .name:nth-child(2) {
  padding: 0 30px 0 0;
  padding-left: 30px;
  font-size: 4rem;
  margin: 0px;
  color: #fafafa;
}

body .content .about-photo-container {
  padding: 0px;
  padding-top: 0px;
}

body .content .about-photo-container .about-photo {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center 25%;
  background-image: url("../images/mariana-fierita-3.JPG");
}

body .content .about-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px;
  line-height: 1.5;
  margin-bottom: 0px;
}

body .content .about-text-container .about-title {
  color: #fafafa;
  font-size: 1rem;
  font-family: "Crimson Text", sans-serif;
}

body .content .about-text-container .about-text {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  letter-spacing: 0.8px;
  font-family: "open sans", sans-serif;
  color: #fafafac7;
  text-align: justify;
}

body .content .see-more-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  margin-top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

body .content .see-more-container .see-more {
  text-decoration: none;
  font-size: 0.7rem;
  color: #fafafa;
  letter-spacing: 3px;
}

body .content .social-media-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .content .social-media-container .social-media {
  text-decoration: none;
  color: #fafafa;
  margin-right: 25px;
  font-weight: lighter;
}

body .footer {
  width: 100%;
  height: 200px;
  background-color: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body .footer .footer-title {
  color: #797979;
  font-size: 1rem;
  margin: 20px;
}

body .footer .footer-line {
  width: 50%;
  margin-left: 20px;
  height: 1px;
  background-color: #d6d6d6;
}

@media (min-width: 800px) {
  body .header .nav {
    width: 100%;
    height: 80px;
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
  }
  body .header .nav .hamburger-container {
    width: 50%;
  }
  body .header .nav .hamburger-container .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .header .nav .hamburger-container .hamburger .icon {
    margin-left: 60px;
    width: 15px;
    height: 1px;
    margin-bottom: 5px;
    background-color: black;
  }
  body .header .nav .logo-container {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .header .nav .logo-container .logo {
    font-weight: bold;
    font-size: 2.5rem;
    color: black;
    right: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-family: "open sans", sans-serif;
  }
  body .header .nav .elements-container {
    background-color: #fafafa;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 150px;
    height: 240px;
    position: fixed;
    width: 100%;
    font-family: "open sans", sans-serif;
    letter-spacing: 1px;
    display: none;
  }
  body .header .nav .elements-container.visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .header .nav .elements-container .elements {
    margin-left: 40px;
    color: black;
    font-weight: 600;
    font-size: 0.6rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px;
  }
  body .header .nav .elements-container .elements .line {
    width: 90%;
    height: 1px;
    background-color: #d6d6d6;
  }
  body .header .nav .elements-container .elements .element {
    margin-bottom: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
  }
  body .content .main-photo-container {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 500px;
  }
  body .content .main-photo-container .main-photo {
    margin-top: 120px;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center 20%;
    background-image: url("../images/mariana-fierita.JPG");
  }
  body .content .line-container {
    margin-top: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .content .line-container .content-line {
    width: 90%;
    height: 1px;
    background-color: #d6d6d6;
  }
  body .content .name-container {
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .content .name-container .name {
    font-weight: 600;
    color: #fafafa;
    font-size: 1.5rem;
    padding: 30px;
    padding-bottom: 0;
    margin: 0px;
    font-family: "Gayathri", sans-serif;
    text-shadow: 0px 0px 0px #969696;
  }
  body .content .name-container .name:first-child {
    color: #fafafa;
  }
  body .content .name-container .name:nth-child(2) {
    padding: 0 30px 0 0;
    padding-left: 30px;
    font-size: 3rem;
    margin: 0px;
    color: #fafafa;
  }
  body .content .about-photo-container {
    padding: 30px;
    padding-top: 0px;
  }
  body .content .about-photo-container .about-photo {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: top 30%;
  }
  body .content .about-text-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
    line-height: 1.5;
    margin-bottom: 0px;
  }
  body .content .about-text-container .about-title {
    color: #fafafa;
    font-size: 1.5rem;
    font-family: "Crimson Text", sans-serif;
  }
  body .content .about-text-container .about-text {
    width: 55%;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 400;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0.7rem;
    letter-spacing: 0.8px;
    font-family: "open sans", sans-serif;
    color: #fafafac7;
    text-align: justify;
  }
}
/*# sourceMappingURL=styles.css.map */