@import url("https://fonts.googleapis.com/css2?family=Crimson Text:wght@400;500;600&family=Open+Sans:wght@300;400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gayathri:wght@400;700&display=swap");

body {
    background-color: black;
    margin: 0px;
    color: white;
    padding-top: 80px;
    font-family: "open sans", sans-serif;
    .header {
        .nav {
            width: 100%;
            height: 80px;
            background-color: #fafafa;
            display: flex;
            align-items: center;
            position: fixed;
            top: 0;
            .hamburger-container {
                width: 50%;
                .hamburger {
                    display: flex;
                    flex-direction: column;
                    .icon {
                        margin-left: 60px;
                        width: 15px;
                        height: 1px;
                        margin-bottom: 5px;
                        background-color: black;
                    }
                }
            }
            .logo-container {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                .logo {
                    font-weight: bold;
                    font-size: 2.5rem;
                    color: black;
                    right: 50%;
                    transform: translate(-50%);
                    font-family: "open sans", sans-serif;
                }
            }
            .elements-container {
                background-color: #fafafa;
                display: flex;
                align-items: center;
                margin-top: 35%;
                height: 240px;
                position: fixed;
                width: 100%;
                font-family: "open sans", sans-serif;
                letter-spacing: 1px;
                display: none;

                &.visible {
                    display: flex;
                }

                .elements {
                    margin-left: 40px;
                    color: black;
                    font-weight: 600;
                    font-size: 0.6rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    padding: 20px;

                    .line {
                        width: 90%;
                        height: 1px;
                        background-color: rgb(214, 214, 214);
                    }
                    .element {
                        margin-bottom: 10px;
                        margin-top: 10px;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
    }
    .content {
        width: 100%;
        height: 100%;
        .main-photo-container {
            margin-top: 0;
            .main-photo {
                width: 100%;
                height: 800px;
                background-size: cover;
                background-position: top;
                background-image: url("../images/mariana-fierita.JPG");
            }
        }
        .line-container {
            width: 100%;
            height: 150px;
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            .content-line {
                width: 90%;
                height: 1px;
                background-color: rgb(190, 190, 190);
            }
        }
        .name-container {
            width: 100%;
            height: 150px;
            display: flex;
            flex-direction: column;
            .name {
                font-weight: 600;
                color: #fafafa;
                font-size: 1.5rem;
                padding: 30px;
                padding-bottom: 0;
                margin: 0px;
                font-family: "Gayathri", sans-serif;
                text-shadow: 0px 0px 0px rgba(150, 150, 150, 1);
                &:first-child {
                    color: #fafafa;
                }
                &:nth-child(2) {
                    padding: 0 30px 0 0;
                    padding-left: 30px;
                    font-size: 3rem;
                    margin: 0px;
                    color: #fafafa;
                }
            }
        }
        .about-photo-container {
            padding: 0px;
            padding-top: 0px;
            .about-photo {
                width: 100%;
                height: 400px;
                background-size: cover;
                background-position: center 25%;
                background-image: url("../images/mariana-fierita-3.JPG");
            }
        }
        .about-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 40px;
            line-height: 1.5;
            // text-align: left;
            margin-bottom: 0px;
            .about-title {
                color: #fafafa;
                font-size: 1rem;
                font-family: "Crimson Text", sans-serif;
            }
            .about-text {
                margin-bottom: 20px;
                display: flex;
                font-weight: 400;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 0.7rem;
                letter-spacing: 0.8px;
                font-family: "open sans", sans-serif;
                color: #fafafac7;
                text-align: justify;
            }
        }
        .see-more-container {
            width: 100%;
            display: flex;
            font-weight: 400;
            margin-top: 0;
            justify-content: center;
            align-items: center;
            height: 80px;
            .see-more {
                text-decoration: none;
                font-size: 0.7rem;
                color: #fafafa;
                letter-spacing: 3px;
            }
        }
        .social-media-container {
            display: flex;
            height: 80px;
            width: 100%;
            align-items: center;
            justify-content: center;

            .social-media {
                text-decoration: none;
                color: #fafafa;
                margin-right: 25px;
                font-weight: lighter;
            }
        }
    }
    .footer {
        width: 100%;
        height: 100%;
        background-color: #050505;
        

        .footer-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            align-items: stretch;
            padding: 180px;
            .top-content {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                .info {
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    .title {
                        font-size: 0.8rem;
                    }

                    .subtitle {
                        font-size: 0.6rem;
                        color: #747474;
                    }
                    .all-info {
                        margin: 0;
                    }
                }
            }
            .footer-title {
                color: #797979;
                font-size: 1rem;
                margin: 20px;
            }
            .footer-line {
                width: 100%;
                height: 1px;
                margin: 0;
                background-color: rgb(214, 214, 214);
            }
        }
    }
}

@media (min-width: 800px) {
    body {
        .header {
            .nav {
                width: 100%;
                height: 80px;
                background-color: #fafafa;
                display: flex;
                align-items: center;
                position: fixed;
                top: 0;
                z-index: 999;
                .hamburger-container {
                    width: 50%;
                    .hamburger {
                        display: flex;
                        flex-direction: column;
                        .icon {
                            margin-left: 60px;
                            width: 15px;
                            height: 1px;
                            margin-bottom: 5px;
                            background-color: black;
                        }
                    }
                }
                .logo-container {
                    width: 50%;
                    display: flex;
                    justify-content: flex-start;
                    .logo {
                        font-weight: bold;
                        font-size: 2.5rem;
                        color: black;
                        right: 50%;
                        transform: translate(-50%);
                        font-family: "open sans", sans-serif;
                    }
                }
                .elements-container {
                    background-color: #fafafa;
                    display: flex;
                    align-items: center;
                    margin-top: 300px;
                    height: 240px;
                    position: fixed;
                    width: 100%;
                    font-family: "open sans", sans-serif;
                    letter-spacing: 1px;
                    display: none;

                    &.visible {
                        display: flex;
                    }

                    .elements {
                        margin-left: 40px;
                        color: black;
                        font-weight: 600;
                        font-size: 0.6rem;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        padding: 20px;

                        .line {
                            width: 90%;
                            height: 1px;
                            background-color: rgb(214, 214, 214);
                        }
                        .element {
                            margin-bottom: 10px;
                            margin-top: 10px;
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }
        }
        .content {
            .main-photo-container {
                margin-top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                .main-photo {
                    margin-top: 0px;
                    width: 100%;
                    height: 700px;
                    background-size: cover;
                    background-position: center 20%;
                    background-image: url("../images/mariana-fierita.JPG");
                }
            }
            .line-container {
                margin-top: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 300px;
                .content-line {
                    width: 60%;
                    height: 0px;
                    background-color: rgb(80, 80, 80);
                }
            }
            .middle-content {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                height: 100%;
                margin: 50px;

                .name-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 0px;
                    margin-left: 0px;
                    position: relative;
                    .name {
                        color: #fafafa;
                        font-size: 2.8rem;
                        padding: 0px;
                        padding-bottom: 0;
                        font-family: "Gayathri", sans-serif;
                        position: absolute;
                        top: -180px;
                        // right: 57px;
                        text-shadow: 0px 0px 2px rgb(0, 0, 0);
                    }
                    .name-2 {
                        margin-top: 45px;
                        font-size: 4rem;
                    }

                    .about-photo-container {
                        padding: 0px;
                        padding-top: 0px;
                        .about-photo {
                            width: 450px;
                            height: 450px;
                            background-size: cover;
                            background-position: top 30%;
                            border-radius: 10px;
                        }
                    }
                }

                .about-text-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    line-height: 1.5;
                    margin: 0px;
                    .about-title {
                        color: #fafafa;
                        font-size: 1.5rem;
                        font-family: "Crimson Text", sans-serif;
                    }
                    .about-text {
                        width: 55%;
                        margin-bottom: 20px;
                        display: flex;
                        font-weight: 400;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 0.7rem;
                        letter-spacing: 0.8px;
                        font-family: "open sans", sans-serif;
                        color: #fafafac7;
                        text-align: justify;
                    }
                }
            }
            .see-more-container {
                width: 100%;
                display: flex;
                font-weight: 400;
                justify-content: center;
                align-items: center;
                height: 80px;
                .see-more {
                    text-decoration: none;
                    font-size: 0.7rem;
                    color: #fafafa;
                    letter-spacing: 3px;
                }
            }
        }
        .footer {
            width: 100%;
            height: 100%;
            background-color: rgb(8, 8, 8);
            

            .footer-content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                box-sizing: border-box;
                .top-content {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                    .info {
                        display: flex;
                        flex-direction: column;
                        .title {
                            font-size: 0.8rem;
                            color: #fafafa;

                        }

                        .subtitle {
                            font-size: 0.6rem;
                        }
                        .all-info {
                            margin: 0;
                        }
                    }
                }
                .footer-title {
                    color: #fafafa;
                    font-size: 2rem;
                    margin: 20px;
                    text-align: right;
                    margin-right: 0px;
                }
                .footer-line {
                    width: 100%;
                    height: 1px;
                    margin: 0;
                    background-color: rgb(214, 214, 214);
                }
            }
        }
    }
}
